@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  /* background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('https://cdn.wallpapersafari.com/45/50/Ej3Brs.jpg');
  background-color: #008fcc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: #f6f7f5 url('https://5ojtv13o4by138ocv258q4xu7h-wpengine.netdna-ssl.com/wp-content/themes/phish/assets/img/background-texture.jpg');
  background-attachment: fixed;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  color: #1d424b;
  margin: 0;
}

.top {
  background: linear-gradient(45deg, #2C6E91 0%, #F15A50 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em;
}

.link {
  background-color: rgba(157, 201, 225, 0.75);
  padding: 0.75em;
  text-align: center;
  margin: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  font-weight: 400;
  color: #000000;
  border: 2px solid #000000;
}

h1,
h1.gradient-text {
  font-size: 7em;
  margin: 0.5em 0;
}

.gradient-text {
  width: 100%;
  font-family: 'Fredoka One', cursive;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0);
  background: url('logo.jpg') repeat center center fixed;
  background-size: 5%;
  background-clip: text;
  -webkit-background-clip: text;
}

h2,
h3,
h4 {
  background-color: rgba(255, 255, 255, 0.75);
  /* color: #000000; */
  padding: 0.5em;
}

h4 {
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.search {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item {
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('https://townsquare.media/site/838/files/img/as/phish-msg-2015.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(157, 201, 225, 0.75);
  width: 300px;
  padding: 1em;
  margin: 0.7em 3em 1.4em;
}

button {
  background-color: #2C6E91;
  color: #F15A50;
  /* color: #f6f7f5; */
  border: none;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  text-transform: uppercase;
  transition: 0.4s;
  box-shadow: inset 1px 1px 1px 0px rgba(255,255,255,.5),
                   4px 4px 15px 0px rgba(0,0,0,.1),
                   2px 2px 3px 0px rgba(0,0,0,.1);
}

button:hover {
  box-shadow:  2px 2px 3px 0 rgba(255,255,255,.5),
              -2px -2px 3px 0 rgba(116, 125, 136, .2), 
        inset -2px -2px 3px 0 rgba(255,255,255,.5),
        inset  2px 2px 3px 0 rgba(116, 125, 136, .3);
}

.btnMap {
  background-color: #F15A50;
  color: #2C6E91;
  /* color: #F6F7F5; */
}

.btnz {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  margin: 0.5em 0;
}

@media all and (max-width: 500px) {
  html {
    font-size: 10px;
  }

  h1,
  h1.gradient-text {
    font-size: 5em;
  }

  img {
    width: 350px;
    height: auto;
  }

  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
  }
}
